extends ../layout/index 
block contenido
    //- h1= pagina
    //- h1 #{pagina}

    main.container.mt5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="iamgen")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis est augue, ornare varius dolor venenatis, elementum laoreet diam. Etiam dignissim consequat varius. Mauris elementum id enim vel consequat.
                p Duis facilisis eget risus dignissim hendrerit. Morbi ac nisl velit. Phasellus mollis arcu eget enim dignissim mollis. In hac habitasse platea dictumst. Integer sed consequat purus. Vestibulum lobortis nunc aliquam mi interdum volutpat. Nulla facilisi. Praesent in elit eu ante commodo blandit.
                p Nullam eu ultrices diam. Phasellus dolor lorem, pellentesque ac nisl iaculis, suscipit consectetur ex. Nam pharetra, odio ut faucibus vulputate, velit libero pulvinar nunc, id porta massa eros nec leo. Ut vitae interdum neque. Integer convallis leo vitae auctor commodo. Vestibulum dignissim venenatis justo, fermentum hendrerit nisi venenatis quis. Vestibulum laoreet vulputate nisi sed lobortis.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_seguridad.svg", alt="Seguridad")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis est augue, ornare varius dolor venenatis, elementum laoreet diam. Etiam dignissim consequat varius. Mauris elementum id enim vel consequat.
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_destinos.svg", alt="Seguridad")
                    h2.mb-4 Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis est augue, ornare varius dolor venenatis, elementum laoreet diam. Etiam dignissim consequat varius. Mauris elementum id enim vel consequat.
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_precios.svg", alt="Seguridad")
                    h2.mb-4 Precios
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis est augue, ornare varius dolor venenatis, elementum laoreet diam. Etiam dignissim consequat varius. Mauris elementum id enim vel consequat.